.content {

display: block;
border-radius: 3px;
}

.nav-bar-content {

display: flex;
justify-content: flex-end;
padding: 70px 50px 0px 20px;
color: white;

}



ul > li {

    list-style: none;
    cursor: pointer;

}
