@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.App{

  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./images/planet-solar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  height: 100vh;
  overflow: auto;
  text-align: center;
}

.title {
  font-family: 'Exo 2', sans-serif;
  font-weight: bolder;
  font-size: 90px;
  color: white;
}

p {

  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  color: antiquewhite;
}

@media (max-width: 766px) {

  .title {
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: white;
  }
  p {

    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    color: antiquewhite;
  }


}






